<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>CAD Prototype</title>
</head>
<body>
    <section class="flexContainerColumn">
        <nav class="menu">
            <ul class="flexContainerRow">
                <!-- <li>
                    <form action="/newCall" method="POST">
                            <input type="submit" value="New Call" id="newCall">
                    </form>
                </li> -->
                <li>
                    <button type="submit" id="newCall">New Call</button>
                </li>
                <li>
                    <form action="/viewCall" method="GET">
                        <input type="submit" value="Previous Calls" disabled>
                    </form>
                </li>
                <li>
                    <form action="/newPerson" method="GET">
                        <input type="submit" value="Person" disabled>
                    </form>
                </li>
                <li>
                    <form action="/newVehicle" method="GET">
                        <input type="submit" value="Vehicle" disabled>
                    </form>
                </li>
                <li>
                    <form action="/MDT" method="GET">
                        <input type="submit" value="MDT" disabled>
                    </form>
                </li>
            </ul>
        </nav>
        <header class="callList">
            <ul>
                <% for (let i = 0; i < info.length; i++) { %>
                    <li>
                            <button value="<%= info[i]._id %>" class="activeCall">
                                <span><%= info[i].time %></span>
                                <span><%= info[i].location %></span>
                                <span><%= info[i].type %></span> 
                            </button>
                    </li>
                <% } %>
            </ul>
        </header>
        <main class="selectedCall">
            <form>
                <section class="callInfo">
                    <input hidden type="test" placeholder="ID" name="callId" id="callId">
                    <input type="date" placeholder="Date" name="date" id="date">
                    <input type="time" placeholder="Time" name="time" id="time">
                    <input type="text" placeholder="Location" name="location" id="location">
                    <input type="text" placeholder="Type" name="type" id="type">
                </section>
                <section class="callNotes">
                    <input type="text" placeholder="Notes" name="notes" id="notes">
                </section>
                <section class="responseDepartment">
                    <input type="text" placeholder="Apparatus" name="apparatus" id="apparatus">
                    <input type="time" placeholder="Tone" name="tone" id="tone">
                    <input type="time" placeholder="En Route" name="enroute" id="enroute">
                    <input type="time" placeholder="Arrival" name="arrival" id="arrival">
                    <input type="time" placeholder="Departure" name="departure" id="departure">
                    <input type="time" placeholder="Quarters" name="quarters" id="quarters">
                </section>
                <section class="responseOther">
                    <input type="text" placeholder="Contact" name="contact" id="contact">
                    <input type="time" placeholder="Page" name="page" id="page">
                    <input type="time" placeholder="Notify" name="notify" id="notify">
                </section>
                <section class="callerInfo">
                    <input type="text" placeholder="First Name" name="first" id="first">
                    <input type="text" placeholder="Last Name" name="last" id="last">
                    <input type="text" placeholder="Phone Number" name="phone" id="phone">
                </section>
                <section>                    
                    <button id="deleteCallButton">Delete Call</button>
                    <button id="saveCallButton">Save Call</button>
                </section>
            </form>
        </main>
    </section>
    <script src='js/main.js'></script>
</body>
</html>
