<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>CAD Prototype</title>
</head>
<body>

    <section class="flexContainerColumn">
        <section class="menu">
            <nav>
                <ul class="flexContainerRow">
                    <li>
                        <form action="/newCall" method="GET">
                            <input type="submit" value="Enter" target="_blank">
                        </form>
                    </li>
                    <li>
                        <form action="/viewCall" method="GET">
                            <input type="submit" value="Enter">
                        </form>
                    </li>
                    <li>
                        <form action="/newPerson" method="GET">
                            <input type="submit" value="Enter">
                        </form>
                    </li>
                    <li>
                        <form action="/newVehicle" method="GET">
                            <input type="submit" value="Enter">
                        </form>
                    </li>
                    <li>
                        <form action="/MDT" method="GET">
                            <input type="submit" value="Enter">
                        </form>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="flexContainerRow">
            <section class="calls">

            </section>
            <section class="call">
                <form action="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                </form>
            </section>
        </section>
    </section>

    <!-- <form action="/addRapper" method="POST">
        <input type="text" placeholder="Stage Name" name="stageName">
        <input type="text" placeholder="Birth Name" name="birthName">
        <input type="submit">
    </form> -->
    

    <script src='js/main.js'></script>
</body>
</html>
