<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Computer-Aided Dispatch</title>
</head>
<body>
    <nav class="flexColumn navigation">
        <ul class="flexRow">
                <a href="#"><li class="home">First Line Response</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Features</li></a>
                <a href="#"><li>FAQ</li></a>
                <a href="#"><li>Demo</li></a>
                <a href="#"><li>Support</li></a>
                <a href="#"><li>Login</li></a>
        </ul>
    </nav>
    <section class="intro">
        <h1>First Line Response</h1>
            <p>Several years ago, I accepted an amazing opportunity to work in Mcmurdo Research Station, Antarctica with the Antarctica Fire Department.</p>
            <p>Frustrated by the lack of an adequate CAD (computer-aided dispatch) program, I sought to create my own. First with Microsoft Word, using content controls to add functionality. However, as the project grew, I explored JavaScript and other languages to create something awesome.</p>
            <p>After several revisions, I'm happy to release my CAD software so that it may help agencies who cannot afford their own. Furthermore, I'm excited to continue my journey as a software engineer by taking on new projects and solving new problems.</p>
            <form action="/cad" method="GET" class="demo">
                <input type="submit" value="Demo">
            </form>
    </section>
    <section class="flexColumn banner">
        <ul class="flexRow">
            <li>
                <h2>First Line Response</h2>
                <span>Comprehensive emergency management software</span>
            </li>
            <li>
                <h2>First Line Response</h2>
                <span>Comprehensive emergency management software</span>
            </li>
            <li>
                <h2>First Line Response</h2>
                <span>Comprehensive emergency management software</span>
            </li>
            <li>
                <h2>First Line Response</h2>
                <span>Comprehensive emergency management software</span>
            </li>
            <li>
                <h2>First Line Response</h2>
                <span>Comprehensive emergency management software</span>
            </li>
        </ul>
    </sections>
    <script src='js/main.js'></script>
</body>
</html>