/******************************************
/* BASE STYLES
/*******************************************/

* {
  /* outline: 2px solid blue; */
}

:root {
    --background: rgb(63, 63, 63);
    --font-size: 1.8rem;
}

html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--background);
    font-size: var(--font-size);
    color: white;
}

/* h1 {

} */

/* h2, h3, h4, h5, h6 {

} */

/* p, span, li, input {

} */

a {
  text-decoration: none;
  font-weight: 700;
}

/* a:hover {

} */

input, button {
    font-size: var(--font-size);
    font-family: 'Courier New', Courier, monospace;
}

/******************************************
/* LAYOUT
/*******************************************/

.menu, .callList, .selectedCall {
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
}

.menu {
    grid-area: menu;
}

.menuList {
    justify-content: center;
}

.callList {
    grid-area: callList;
}

.selectedCall {
    grid-area: selectedCall;
}

.selectedCall section, .callList ul {
    margin: 3rem auto;
    /* border: 1px solid black; */
}

fieldset {
    border: 1px solid black;
}

/* .menu button {
    height: 100px;
    width: 100px;
} */

/* .callListTime, .callListLocation, .callListType {
    min-width: 200px;
} */

/* .callList li {
    height: 21px;
} */

.callList button {
    width: min(95%, 1000px);
    min-height: 29px;
    margin: .1rem;
}

/******************************************
/* HOMEPAGE
/*******************************************/



/******************************************
/* 404
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.gridContainer {
    display: grid;
    grid-template-areas:
        "menu menu menu"
        "callList selectedCall selectedCall"
}

/* .gridItem {

} */

/******************************************
/* MEDIA
/*******************************************/

