/******************************************
/* BASE STYLES
/*******************************************/

/* * {
  outline: 2px solid blue;
} */

:root {
    --background: lightgrey;
}

html {
    font-size: 62.5%;
    /* font-family: 'Courier New', Courier, monospace; */
}

body {
    background-color: var(--background);
    font-size: 1.6rem;
    color: black;
}

h1 {

}

h2, h3, h4, h5, h6 {

}

p, span, li, input {

}

a {
  text-decoration: none;
  font-weight: 700;
}

a:hover {

}

/******************************************
/* LAYOUT
/*******************************************/

.menu, .callList, .selectedCall {
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
}

.menu {
    display: flex;
    justify-content: center;
}



/******************************************
/* HOMEPAGE
/*******************************************/



/******************************************
/* 404
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.flexContainerColumn {
    display: flex;
    flex-direction: column;
}

.flexContainerRow {
    display: flex;
    flex-direction: row;
}

/******************************************
/* MEDIA
/*******************************************/

